<h1>All Events</h1>
<ul>
  <% @events.each do |event| %>
    <li><%= event.title %> - <%= event.date.strftime("%B %d %Y") %></li>
  <% end %>
</ul>
<%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }%>
